.header-logo {
    height: 150px !important;
    width: auto;
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
}

.controller-flex {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-bottom: 2em;
}

@media (orientation: portrait) {
    .controller-flex {
        flex-direction: column;
        align-items: flex-start;
    }
    
    .controller-preview {
        width: 100%;
        object-fit: contain;
        margin: 0 auto;
    }
}

.controller-preview {
    height: 300px !important;
}